/* RESET & GLOBAL */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: #eef1f7;
    color: #2b2b2b;
    transition: 0.3s;
}

body.dark {
    background: #0f0f0f;
    color: #e2e2e2;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 30px;
    background: linear-gradient(135deg, #5a4cf0, #a13ff0);
    color: white;
    box-shadow: 0 5px 18px rgba(0,0,0,0.2);
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    opacity: .9;
}

.navbar a:hover {
    opacity: 1;
}

/* CONTAINER */
.container {
    width: 92%;
    margin: 35px auto;
}

/* TITLE */
.page-title {
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 25px;
    background: linear-gradient(135deg, #5a4cf0, #b243ff);
    -webkit-background-clip: text;
    color: transparent;
}

/* CARD */
.card {
    background: white;
    border-radius: 18px;
    padding: 28px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.08);
}

body.dark .card {
    background: #191919;
}

/* TABLE */
.table-box {
    background: white;
    padding: 25px;
    border-radius: 18px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.08);
    overflow-x: auto;
}

body.dark .table-box {
    background: #1a1a1a;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background: linear-gradient(135deg, #5a4cf0, #a13ff0);
    color: white;
}

th, td {
    padding: 12px;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
}

body.dark td {
    border-color: #333;
}

tbody tr:nth-child(even) {
    background: #f3f3ff;
}

body.dark tbody tr:nth-child(even) {
    background: #222;
}

tbody tr:hover {
    background: #e6e1ff;
}

body.dark tbody tr:hover {
    background: #2b2440;
}

/* FORM */
.form-box {
    background: white;
    padding: 28px;
    border-radius: 18px;
    max-width: 550px;
    margin: 25px auto;
    box-shadow: 0 8px 25px rgba(0,0,0,0.06);
}

body.dark .form-box {
    background: #1a1a1a;
}

.form-box label {
    font-weight: 600;
    display: block;
    margin-bottom: 6px;
}

.form-box input,
.form-box select {
    width: 100%;
    padding: 12px;
    margin-bottom: 18px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

body.dark .form-box input,
body.dark .form-box select {
    background: #111;
    border-color: #333;
    color: white;
}

.form-box input:focus,
.form-box select:focus {
    border-color: #5a4cf0;
    outline: none;
}

/* BUTTON */
button {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    background: linear-gradient(135deg, #5a4cf0, #9d3ef8);
    color: white;
    font-weight: 600;
    cursor: pointer;
}
